<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_line.order_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_line.status %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order_line.item_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order_line.note %>
</p>

<p>
  <strong>Price in cents:</strong>
  <%= @order_line.price_in_cents %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @order_line.qty %>
</p>

<%= link_to 'Edit', edit_order_line_path(@order_line) %> |
<%= link_to 'Back', order_lines_path %>
